{{#layouts/restricted/page-wrapper class="references"}}
  {{#layouts/content-wrapper title='Page not found'}}
	  	<p>This page does not exist on this website. Please {{#link-to 'index'}}click here{{/link-to}} to go to the home page.</p>	
  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}